

{% extends 'base.html.twig' %}

{% block body %}
    <main class="bg-gradient-to-r from-neutral-50 to-neutral-100 h-screen flex flex-col items-center justify-center">
      
        <ul class="mt-4 text-neutral-500 flex flex-wrap gap-4 max-w-md mx-auto">
            {% for person in people %}
                <li class="px-2 py-1 mb-2 rounded-full bg-orange-300 text-neutral-800 text-center">
                    {{ person.name }} {{ person.lastName }}
                </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}